<div class="container">
  <h1>{{ 'VOLUNTEERING.TITLE' | translate }}</h1>
  <p>{{ 'VOLUNTEERING.DESCRIPTION' | translate }}</p>
  
  <div class="volunteering-list">
    <h2>{{ 'VOLUNTEERING.OPPORTUNITIES' | translate }}</h2>
    
    <div class="volunteer-item">
      <h3>{{ 'VOLUNTEERING.LECTORS' | translate }}</h3>
      <p>{{ 'VOLUNTEERING.LECTORS_DESC' | translate }}</p>
    </div>
    
    <div class="volunteer-item">
      <h3>{{ 'VOLUNTEERING.EUCHARISTIC' | translate }}</h3>
      <p>{{ 'VOLUNTEERING.EUCHARISTIC_DESC' | translate }}</p>
    </div>
    
    <div class="volunteer-item">
      <h3>{{ 'VOLUNTEERING.USHERS' | translate }}</h3>
      <p>{{ 'VOLUNTEERING.USHERS_DESC' | translate }}</p>
    </div>
    
    <div class="volunteer-item">
      <h3>{{ 'VOLUNTEERING.CHOIR' | translate }}</h3>
      <p>{{ 'VOLUNTEERING.CHOIR_DESC' | translate }}</p>
    </div>
  </div>
</div>
