<div class="container">
  <h1>{{ 'COMMITTEES.TITLE' | translate }}</h1>
  <p>{{ 'COMMITTEES.DESCRIPTION' | translate }}</p>
  
  <div class="committees-list">
    <div class="committee-item">
      <h2>{{ 'COMMITTEES.LITURGY' | translate }}</h2>
      <p>{{ 'COMMITTEES.LITURGY_DESC' | translate }}</p>
    </div>
    
    <div class="committee-item">
      <h2>{{ 'COMMITTEES.FINANCE' | translate }}</h2>
      <p>{{ 'COMMITTEES.FINANCE_DESC' | translate }}</p>
    </div>
    
    <div class="committee-item">
      <h2>{{ 'COMMITTEES.PASTORAL' | translate }}</h2>
      <p>{{ 'COMMITTEES.PASTORAL_DESC' | translate }}</p>
    </div>
  </div>
</div>
