<div class="container">
  <h1>{{ 'DONATION.TITLE' | translate }}</h1>
  <p>{{ 'DONATION.DESCRIPTION' | translate }}</p>
  
  <div class="donation-options">
    <h2>{{ 'DONATION.WAYS' | translate }}</h2>
    
    <div class="donation-method">
      <h3>{{ 'DONATION.ONLINE' | translate }}</h3>
      <p>{{ 'DONATION.ONLINE_DESC' | translate }}</p>
    </div>
    
    <div class="donation-method">
      <h3>{{ 'DONATION.MAIL' | translate }}</h3>
      <p>{{ 'DONATION.MAIL_DESC' | translate }}</p>
    </div>
    
    <div class="donation-method">
      <h3>{{ 'DONATION.PERSON' | translate }}</h3>
      <p>{{ 'DONATION.PERSON_DESC' | translate }}</p>
    </div>
  </div>
  
  <div class="thank-you">
    <h3>{{ 'DONATION.THANK_YOU' | translate }}</h3>
  </div>
</div>
