<div class="container">
  <h1>{{ 'MASSES.TITLE' | translate }}</h1>
  
  <div class="masses-schedule">
    <div class="mass-time">
      <h2>{{ 'MASSES.WEEKDAY' | translate }}</h2>
      <p>{{ 'MASSES.WEEKDAY_DESC' | translate }}</p>
    </div>
    
    <div class="mass-time">
      <h2>{{ 'MASSES.SATURDAY' | translate }}</h2>
      <p>{{ 'MASSES.SATURDAY_DESC' | translate }}</p>
    </div>
    
    <div class="mass-time">
      <h2>{{ 'MASSES.SUNDAY' | translate }}</h2>
      <p>{{ 'MASSES.SUNDAY_DESC' | translate }}</p>
    </div>
    
    <div class="mass-time">
      <h2>{{ 'MASSES.HOLY_DAYS' | translate }}</h2>
      <p>{{ 'MASSES.HOLY_DAYS_DESC' | translate }}</p>
    </div>
    
    <div class="mass-options">
      <h2>{{ 'MASSES.VIRTUAL' | translate }}</h2>
      <p>{{ 'MASSES.VIRTUAL_DESC' | translate }}</p>
    </div>
    
    <div class="mass-options">
      <h2>{{ 'MASSES.INTENTIONS' | translate }}</h2>
      <p>{{ 'MASSES.INTENTIONS_DESC' | translate }}</p>
    </div>
  </div>
</div>
